<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="ISO-8859-1">
<meta name="author" content="">

<title>Luhe</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<script th:src="@{/ckeditor/ckeditor.js}"></script>

</head>

<body>

	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Luhe</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a>
					</li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/Article}">write</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/contact}">users</a>
					</li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account </a>
						
						</li>
				</ul>
			</div>
		</div>
	</nav>
</head>
<body>
	

      <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Your
        <small>Articles</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item active">Articles</li>
      </ol>

      <div class="row" th:each="a: ${articles}">

        <!-- Blog Entries Column -->
        <div class="col-md-12" th:if="${a.approval}=='true'">

          <!-- Blog Post -->
          <div class="card mb-4"  >
           
            <div class="card-body" >
              <h2 class="card-title" th:text="${a.title}">Post Title</h2>
              <p class="card-text"  th:utext="${a.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
             
            </div>
           <div class="card-footer " >
              <p class="text-muted" th:text="${#dates.format(a.createdAt, 'dd-MMM-yyyy')}">Posted on January 1, 2017 </p>
              <hr>
               <a th:href="@{/Article/each/{id}(id=${a.id})}" class="btn btn-primary" >Read More &rarr;</a>
              
            </div>
          </div>
          </div>
          </div>
          </div>
          
          
	
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>