<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="ISO-8859-1">
<meta name="author" content="">

<title>Luhe</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<script th:src="@{/ckeditor/ckeditor.js}"></script>

</head>

<body>

	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Luhe</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a>
					</li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/ArticleForm}">write</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/contact}">users</a>
					</li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account </a>
						<div class="dropdown-menu dropdown-menu-right"
							aria-labelledby="navbarDropdownBlog">
							<form th:action="@{/logout}" th:method="POST">
								<a class="dropdown-item" type="Submit">Logout</a>
							</form>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container" >

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3" th:text="${article.title}" >Book title
      </h1>

   
      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

         

          <hr>

          <!-- Date/Time -->
          <p></p>

          <hr>

          <!-- Post Content -->
          <p class="lead" th:utext="${article.content}">text</p>

      
          <hr>

   
 <hr>
 <div class="Row">
 <div class="col-lg-12 mb-4" th:each=" a: ${ article}">
 			<form th:action="@{|/publisher/approveArticle/${a.id}|}"  method="post" > 
 			 <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
 			 <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> 
			<input value="Approve" type="submit" class="btn btn-success btn-block" /></form>
			<form>
			 <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			<input type=hidden value="  "class="btn btn-danger btn-block"/>  </form>
			
			<form  th:action="@{|/publisher/deleteArticle/${a.id}|}" method="post">
			 <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			<input Value="Reject"  type="submit" class="btn btn-danger btn-block"/>
			
			</form>
</div>
</div>
        </div>
        </div>
        </div>
     <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
        