<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="ISO-8859-1">
<meta name="author" content="">

<title>Luhe</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<script th:src="@{/ckeditor/ckeditor.js}"></script>

</head>

<body>

	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Luhe</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/contact}">users</a>
					</li>

					<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle" th:href="@{/logout}" id="navbarDropdownBlog"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account </a>
						
						</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Submitted <small>Requests</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</a></li>
			<li class="breadcrumb-item active">Publisher</li>
		</ol>

		<!-- Image Header -->

		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-lg-4 mb-4" th:each="a: ${articles}">
				<div class="card h-100">
					<h4 class="card-header" th:text="${a.title}">Card Title</h4>
					<div class="card-body">
						<p class="card-text" th:utext="${a.content}">Lorem</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/publisher/eachView/{id}(id=${a.id})}"
							class="btn btn-primary">Read More</a>
						<!-- 	<span th:if=${a.approval}==true><style>body.color:green;</style></span> -->
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->